.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container{
  color: black;
}

.containersejarah{
  color: black;
}

.containersejarah p{
  font-weight: 600;
}

.containerindex{
  color: black;
}

.containerindex h1{
  font-size: 70px;
}

.containerindex p{
  font-size: 40px;
  font-weight: 600;
}

.content {
  padding: 50px 0;
}

img {
  margin-bottom: 15px;
}

.tokoh{
  margin-top: 20px;
}

.tokoh h3{
  font-size: medium;
}

.row h1{
  font-size: 30px;
  margin-top: 15px;
}

.row p{
  font-size: 20px;
}

.sumpemuda{
  font-size: 20px;
  font-style: italic;
}

.lead{
  font-size: 20px;
  font-weight:400;
}